@{
    var version = "?v=102";
}
<!--[if IE 9]>

    <link rel="stylesheet" href="/SMAT.UI/Styles/bootstrap.css" type="text/css" />
    
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.common.animate.css" type="text/css" />
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.common.icon.css" type="text/css" />
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.common-material.min.css" type="text/css">
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.material.min.css" type="text/css">
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.mobile.all.min.css" type="text/css">
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.dataviz.min.css" type="text/css">
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.dataviz.material.min.css" type="text/css">
    
    <link rel="stylesheet" href="/SMAT.UI/Styles/asmat.app.css@(version)" type="text/css" />    
    
    <link rel="stylesheet" href="/SMAT.UI/Styles/animate/animate.min.css" type="text/css" />
    
    <script src="/SMAT.UI/Scripts/js/jszip.js"></script>
    <script src="/SMAT.UI/Scripts/jquery.min.js"></script>
    <script src="/SMAT.UI/Scripts/jquery.ba-throttle-debounce.min.js"></script>
    <script src="/SMAT.UI/Scripts/js/jquery.linq.min.js"></script>
    
    <script src="/SMAT.UI/Scripts/js/bootstrap.js"></script>
    
    <script src="/SMAT.UI/Scripts/js/asmat.app.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/SMAT.UI/Scripts/js/asmat.app.plugin.js@(version)"></script>
    
    <script src="/SMAT.UI/Scripts/asmat.all.min.js"></script>
    <script src="/SMAT.UI/Scripts/smat.core.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.service.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.Service.Data.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.Service.Flow.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Button.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.ButtonGroup.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.DatePicker.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.DateTimePicker.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.DropDownList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Editor.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Form.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Grid.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.NumericTextBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Refer.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.RadioButton.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Pager.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.TextBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Chart.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.ComboBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.MultiSelect.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.RadioBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.CheckBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.TabStrip.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.TreeView.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Upload.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.TextArea.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Location.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.Label.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/smat.ui.PanelBar.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/uiPlugin/smat.ui.DyPage.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/uiPlugin/smat.ui.ResourceImg.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/uiPlugin/smat.ui.DyUserControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/cultures/smat.culture.zh.min.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/cultures/smat.culture.ja.min.js@(version)"></script>
    
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.Filed.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.Control.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.Filter.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.View.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.UserControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.FlowControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.BusinessSearchType.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.BusinessSearchPreview.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/tool/smat.dynamics.tool.FiledCheckBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleSearch.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleGraph.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleMasterList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleMasterEdit.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleYList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleYEdit.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleStatistics.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleCrossStatistic.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.UserControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SystemMaster.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleLogicList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.Refer.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.SimpleFlow.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/template/smat.dynamics.template.BusinessSearch.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.formList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.formSetting.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.designer.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.userControlDesigner.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/smat.dynamics.diagramDesigner.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.DropDownList.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.SubOptions.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Object.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Filter.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Sortable.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.View.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.ChartData.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Row.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Logic.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.GridData.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Template.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.CultureText.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.Handler.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/smat.dynamics.property.FormAuth.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetBase.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetListSearch.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetLineChart.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetColChart.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetPieChart.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetSummaryCross.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetSummarySearch.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/property/set/smat.dynamics.property.set.SetBusinessResult.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/logic/smat.dynamics.logic.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/logic/smat.dynamics.logic.LogicItem.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/logic/smat.dynamics.template.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Page.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Section.js" @(version)></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Form.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Field.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.ToolBar.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Button.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Grid.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Line.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Pager.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Chart.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.PageUserControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.UserControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.RadioBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.CheckBox.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Div.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.TabStrip.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.TabPage.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.TreeView.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Editor.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.PageControl.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Upload.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.ResourceImg.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Location.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.Label.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.PanelBar.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/control/smat.dynamics.controls.PanelBarPage.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/diagram/smat.dynamics.diagram.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/diagram/smat.dynamics.diagram.Stage.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/diagram/smat.dynamics.diagram.FlowStage.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/diagram/smat.dynamics.diagram.Node.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/diagram/smat.dynamics.diagram.Connection.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.Config.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.Entity.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.Database.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.Menu.js@(version)"></script>
    <script src="/SMAT.UI/Scripts/dynamics/project/smat.dynamics.projectManager.Role.js@(version)"></script>


    <script src="/Scripts/smat.config.js@(version)"></script>
    
    <link rel="stylesheet" href="/SMAT.UI/CodeMirror/lib/codemirror.css">
    <script src="/SMAT.UI/CodeMirror/lib/codemirror.js"></script>
    <script src="/SMAT.UI/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/SMAT.UI/CodeMirror/addon/selection/active-line.js"></script>
    <script src="/SMAT.UI/CodeMirror/addon/edit/matchbrackets.js"></script>

    <link rel="stylesheet" href="/Content/Site.css@(version)" type="text/css" />

    <script>
    var mainRoleCD = "@((ViewBag.LoginUser as DrinkService.Data.Models.UserSession).RoleCD)";
        var mainShopCD = "@((ViewBag.LoginUser as DrinkService.Data.Models.UserSession).ShopCD)";
        var mainShopName = "@((ViewBag.LoginUser as DrinkService.Data.Models.UserSession).ShopName)";
        var mainStaffName = "@((ViewBag.LoginUser as DrinkService.Data.Models.UserSession).StaffName)";
        var mainStaffCD = "@((ViewBag.LoginUser as DrinkService.Data.Models.UserSession).StaffCD)";
        var mainVersion = ""

        

        var mainCN役割_店舗管理者 = "@(DrinkService.Models.ModelBase.CN役割_店舗管理者)";
        var mainCN役割_システム管理者 = "@(DrinkService.Models.ModelBase.CN役割_システム管理者)";
        var mainCN役割_ドリンクマネジメント = "@(DrinkService.Models.ModelBase.CN役割_ドリンクマネジメント)";
        var mainCN役割_店舗担当者 = "@(DrinkService.Models.ModelBase.CN役割_店舗担当者)";
        var mainCN役割_本部管理者 = "@(DrinkService.Models.ModelBase.CN役割_本部管理者)";
        var mainCN役割_本部参照 = "@(DrinkService.Models.ModelBase.CN役割_本部参照)";
    </script>

<style>
    .s-icon {
        margin-top:11px;
    }
    .s-tabstrip > .s-content, .s-panelbar .s-tabstrip > .s-content {
        margin:0;
    }
</style>
<![endif]-->

<script>
    $(document).ready(function () {
        $("#sub_form_content@(ViewBag.id) .back-link-sub").bind("click", function () {
            smat.service.closeForm({
                contentId: "sub_form_content@(ViewBag.id)"
            });
            //showLimitLeart();
        });

    });

</script>

<section id="sub_form_content@(ViewBag.id)" class="vbox " style="height:100%;">
    <header class="bg-white-only header header-md navbar navbar-fixed-top-xs" style="position: absolute;width: 100%;">
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <a href="#" id="back-link" class="text-muted back-link-sub">
                    <i class="fa fa-mail-reply text"></i>
                </a>
            </li>
        </ul>
        <div class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search" style="width: 80%;">
            <div class="form-group">
                <span id="sub_nav_title" class="nav-title">@ViewBag.Title</span>
                @if (ViewBag.isTestVersion as string == "test")
                {
                    <span style="color:red;font-weight:bold;">テスト環境</span>

                }
                else if (ViewBag.isTestVersion as string == "kensyu")
                {
                    <span style="color:red;font-weight:bold;">研修環境</span>

                }
            </div>
        </div>
        <div class="navbar-right ">
            <ul class="nav navbar-nav m-n hidden-xs nav-user user"></ul>
        </div>
    </header>
    <section style="overflow: auto;top: 0;padding-top: 40px;">
        <section class="hbox stretch">
            <section id="content">
                <section class="vbox">
                    <!-- contentBody -->
                    @RenderBody()
                    <!-- /contentBody -->
                </section>
            </section>
        </section>
    </section>
</section>

<script>
    $(document).ready(function () {
        smat.service.uiAfterInit("#sub_form_content");
    });
</script>