@model IEnumerable<WebEvaluation.Models.T_Party>

@{
    ViewBag.Title = "Index";
    ViewBag.color = "#002cba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TantoCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrideKana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrideHomeTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrideMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroomKana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroomHomeTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroomMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TantoCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrideKana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrideHomeTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrideMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroomKana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroomHomeTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroomMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartyID })
        </td>
    </tr>
}

</table>
