@model IEnumerable<WebEvaluation.ViewModels.TelRptViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("再建策", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            店舗
        </th>
        <th>
            担当
        </th>
        <th>
            通話内容
        </th>
        <th>
            担当評価
        </th>
        <th>
            上長評価
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelMemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffEva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaderEva)
        </td>
    </tr>
}

</table>
