@model WebEvaluation.ViewModels.TelRptEvaViewModel

@{
    ViewBag.IMG = "../../Content/images/ic-evas.png";
    ViewBag.Title = "評価情報登録";
    ViewBag.color = "#7fba00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/summernote.css" rel="stylesheet">
<script src="~/Scripts/summernote.js"></script>
<script src="~/Scripts/summernote-ja-JP.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var timer = setInterval(keepSession, 60000);
    });
</script>

<!--テレフォンレポート情報登録--BUTTON-->
<div class="jumbotron">
    <br>
    @using (Html.BeginForm("TelRptEvaByLeader", "TelRpt", FormMethod.Post, new { @id = "editForm", @class = "form-horizontal", @autocomplete = "off", @onsubmit = "return checkForm()" }))
    {
        @Html.Hidden("page", ViewBag.page as string)
        @Html.Hidden("ShopCD", ViewBag.ShopCD as string)
        @Html.Hidden("PartyDateFrom", ViewBag.PartyDateFrom as string)
        @Html.Hidden("PartyDateTo", ViewBag.PartyDateTo as string)
        @Html.Hidden("EvaStatus", ViewBag.EvaStatus as string)
        @Html.Hidden("StaffEva", ViewBag.StaffEva as string)
        @Html.Hidden("LeaderEva", ViewBag.LeaderEva as string)
        @Html.Hidden("isPostBack","1")
        @Html.Hidden("PartyID",Model.party.PartyID)
        @Html.Hidden("isPartyReport", "")

        @Html.Hidden("EvaByLeaderUpdateTime", ViewBag.EvaByLeaderUpdateTime as string)
        @Html.Hidden("UpdateUser", ViewBag.UpdateUser as string)
        @Html.Hidden("UpdateUserID", ViewBag.UpdateUserID as string)
        
        @Html.Hidden("Range", ViewBag.Range as string)
        @Html.Hidden("divisionCD", ViewBag.divisionCD as string)
        @Html.Hidden("StaffCD", ViewBag.StaffCD as string)
        
        @Html.Hidden("actionType", "1")
        
    <!--パーティ情報-->
        <font color="#aaaaaa">パーティ情報</font>
        <table class="table form-table">
                    <tr >
                        <td align="right" class="edit-title" style="width:120px">店舗：</td>
                        <td style="width:15%">
                            @if (string.IsNullOrEmpty(Model.party.HallType))
                            {
                                @Html.DisplayFor(model => model.party.ShopCD)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.party.ShopCD)
                                <font>(</font>
                                @Html.DisplayFor(model => model.party.HallType)
                                <font>)</font>
                            }
                        </td>
                        <td align="right" class="edit-title" style="width:10%">パーティID：</td>
                        <td style="width:15%">@Html.DisplayFor(model => model.party.PartyNo)</td>
                        <td align="right" class="edit-title" style="width:10%">挙式日：</td>
                        <td style="width:15%">
                            @Html.DisplayFor(model => model.party.PartyDate)
                            @Html.DisplayFor(model => model.party.StartTime)
                        </td>
                        <td align="right" class="edit-title" style="width:10%">担当者：</td>
                        <td style="width:15%">@Html.DisplayFor(model => model.party.TantoCD)</td>
                    </tr>
                    <tr class="" >
                        <td align="right" class="edit-title">新郎氏名：</td>
                        <td>@Html.DisplayFor(model => model.party.BrideName)</td>
                        <td align="right" class="edit-title">かな：</td>
                        <td>@Html.DisplayFor(model => model.party.BrideKana)</td>
                        <td align="right" class="edit-title">自宅Tel：</td>
                        <td>@Html.DisplayFor(model => model.party.BrideHomeTel)</td>
                        <td align="right" class="edit-title">携帯：</td>
                        <td>@Html.DisplayFor(model => model.party.BrideMobile)</td>
                    </tr>
                    <tr class="" >
                        <td  align="right" class="edit-title">新婦氏名：</td>
                        <td>@Html.DisplayFor(model => model.party.GroomName)</td>
                        <td align="right" class="edit-title">かな：</td>
                        <td>@Html.DisplayFor(model => model.party.GroomKana)</td>
                        <td align="right" class="edit-title">自宅Tel：</td>
                        <td>@Html.DisplayFor(model => model.party.GroomHomeTel)</td>
                        <td align="right" class="edit-title">携帯：</td>
                        <td>@Html.DisplayFor(model => model.party.GroomMobile)</td>
                    </tr>
                </table>
        
        
    <ul id="myTab" class="nav nav-tabs">
        <li id="li_home" class="@(ViewBag.isPartyReport != "1"?"active":"")" style="width: 50%;">
            <a href="#home" class="btn btn-gray btn-sm" style="border-left-width: 0;font-size: 16px;padding: 5px;" data-toggle="tab">
                <img src="~/Content/images/75-phone.png" style="width: 24px;height: 24px;">テレフォンレポート
            </a>
        </li>
        <li id="li_ios" class="@(ViewBag.isPartyReport == "1"?"active":"")" style="width: 50%;">
            <a href="#ios" class="btn btn-gray btn-sm" style="border-right-width: 0;font-size: 16px;padding: 5px;" data-toggle="tab">
                <img src="~/Content/images/48-fork-and-knife.png" style="width: 24px;height: 24px;">報告書
            </a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade  @(ViewBag.isPartyReport != "1"?"in active":"")" id="home" style="">
            <!--レポート情報登録-->
            <font color="#aaaaaa">レポート情報</font>
            <table class="table form-table" border="0">
                <tr>
                    <td width="120" align="right" class="edit-title">電話可否：</td>
                    @if (Model.report.TelFlg == "0")
                    {
                        <td width="50">未</td>
                    }
                    else if (Model.report.TelFlg == "1")
                    {
                        <td width="50">可</td>
                    }
                    else if (Model.report.TelFlg == "2")
                    {
                        <td width="50">否</td>
                    }
                    else
                    {
                        <td width="50"></td>
                    }
                    <td width="110" align="right" class="edit-title">備考：</td>
                    <td>@Html.DisplayFor(model => model.report.Remark)</td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td align="right" class="edit-title">特記事項：</td>
                    <td colspan="5">
                        <pre style="width: 100%; background: transparent; border: none; max-width: 1038px;font-family:'Meiryo UI'">@Html.DisplayFor(model => model.report.Memo)</pre>
                    </td>
                </tr>

            </table>
            <!--評価登録-->
            <font color="#aaaaaa">電話内容</font>
            <div>
                @if (null != Model.evaByLeader)
                {
                    @Html.Hidden("evaByLeader.PartyID", Model.evaByLeader.PartyID)
                }
                <table class="table form-table ">
                    <tr>
                        <td align="right" class="edit-title" style="width:120px">
                            留意フラグ：
                        </td>
                        <td colspan="13">
                            @if (Model.evaByStaff.CareFlg == "0")
                            {
                                <label>要確認</label>
                            }
                            @if (Model.evaByStaff.CareFlg == "1")
                            {
                                <label>要対応</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="edit-title" style="width:120px">電話内容：</td>
                        <td colspan="13">
                            <pre style="width: 100%;background: transparent;border: none; max-width:1038px;font-family:'Meiryo UI'">@Html.DisplayFor(model => model.evaByStaff.Record)</pre>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" style="height: 0px; background-color: #808080; padding-top: 0px; padding-bottom: 0px;"></td>
                    </tr>
                    <tr style="background-color: #fff1e5;border-top-color:#ffffff">
                        <td style="border-top-color:#ffffff"></td>
                        <td style="border-top-color:#ffffff" align="center" class="edit-title" width="150">日付/時間</td>
                        <td style="border-top-color:#ffffff" width="3px"><img src="~/Content/images/ic-teleline.png"></td>
                        <td style="border-top-color:#ffffff" align="center" class="edit-title" width="150">通話結果</td>
                        <td style="border-top-color:#ffffff" width="3px"><img src="~/Content/images/ic-teleline.png"></td>
                        <td style="border-top-color:#ffffff" align="center" class="edit-title" nowrap="nowrap" width="150">通話時間(分)</td>
                        <td style="border-top-color:#ffffff" width="3px"><img src="~/Content/images/ic-teleline.png"></td>
                        <td style="border-top-color:#ffffff" align="center" class="edit-title" width="150">担当</td>
                        <td style="border-top-color:#ffffff" colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="13" style="height: 0px; background-color: #808080; padding-top: 0px; padding-bottom: 0px; border-top-color:#ffcfa6;"></td>
                    </tr>
                    <tr>
                        <td align="right" class="edit-title" style="width:120px;border-top-color:#aaaaaa">1回目情報</td>
                        <td style="border-top-color:#aaaaaa" width="180">
                            @Html.DisplayFor(model => model.evaByStaff.Eva1Date)
                        </td>
                        <td style="border-top-color:#aaaaaa"></td>
                        <td style="border-top-color:#aaaaaa">
                            @if (Model.evaByStaff.Eva1Result == "0")
                            {
                                @("繋がった")
                            }
                            @if (Model.evaByStaff.Eva1Result == "1")
                            {
                                @("繋がらず")
                            }
                            @if (Model.evaByStaff.Eva1Result == "2")
                            {
                                @("繋がったが話せず")
                            }
                            @if (Model.evaByStaff.Eva1Result == "3")
                            {
                                @("留守電")
                            }
                            @if (Model.evaByStaff.Eva1Result == "4")
                            {
                                @("書面アンケート")
                            }
                        </td>
                        <td style="border-top-color:#aaaaaa"></td>
                        <td style="border-top-color:#aaaaaa" width="170" align="right">
                            @Html.DisplayFor(model => model.evaByStaff.Eva1Time)
                        </td>
                        <td style="border-top-color:#aaaaaa"></td>
                        <td style="border-top-color:#aaaaaa" width="80">
                            @Html.DisplayFor(model => model.evaByStaff.Eva1StaffCD)
                        </td>
                        <td style="border-top-color:#aaaaaa" colspan="2"></td>
                    </tr>
                    <tr>
                        <td align="right" class="edit-title">2回目情報</td>
                        <td width="180">
                            @Html.DisplayFor(model => model.evaByStaff.Eva2Date)
                        </td>
                        <td></td>
                        <td>
                            @if (Model.evaByStaff.Eva2Result == "0")
                            {
                                @("繋がった")
                            }
                            @if (Model.evaByStaff.Eva2Result == "1")
                            {
                                @("繋がらず")
                            }
                            @if (Model.evaByStaff.Eva2Result == "2")
                            {
                                @("繋がったが話せず")
                            }
                            @if (Model.evaByStaff.Eva2Result == "3")
                            {
                                @("留守電")
                            }
                            @if (Model.evaByStaff.Eva2Result == "4")
                            {
                                @("書面アンケート")
                            }
                        </td>
                        <td></td>
                        <td width="170" align="right">
                            @Html.DisplayFor(model => model.evaByStaff.Eva2Time)
                        </td>
                        <td></td>
                        <td width="80">
                            @Html.DisplayFor(model => model.evaByStaff.Eva2StaffCD)
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td align="right" class="edit-title">3回目情報</td>
                        <td width="180">
                            @Html.DisplayFor(model => model.evaByStaff.Eva3Date)
                        </td>
                        <td></td>
                        <td>
                            @if (Model.evaByStaff.Eva3Result == "0")
                            {
                                @("繋がった")
                            }
                            @if (Model.evaByStaff.Eva3Result == "1")
                            {
                                @("繋がらず")
                            }
                            @if (Model.evaByStaff.Eva3Result == "2")
                            {
                                @("繋がったが話せず")
                            }
                            @if (Model.evaByStaff.Eva3Result == "3")
                            {
                                @("留守電")
                            }
                            @if (Model.evaByStaff.Eva3Result == "4")
                            {
                                @("書面アンケート")
                            }
                        </td>
                        <td></td>
                        <td width="170" align="right">
                            @Html.DisplayFor(model => model.evaByStaff.Eva3Time)
                        </td>
                        <td></td>
                        <td width="80">
                            @Html.DisplayFor(model => model.evaByStaff.Eva3StaffCD)
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr style="border:3px;">
                        <td align="right" class="edit-title" style="width:120px">
                            評価結果：
                        </td>
                        <td id="staffEvaText">
                            @Html.DisplayFor(model => model.evaByStaff.StatffEva)
                        </td>
                        <td></td>
                        <td align="right" class="edit-title" nowrap="nowrap" width="120">
                            二次評価結果：
                        </td>
                        <td></td>
                        <td colspan="1">
                            @Html.CodeDropDownListOrderByName("evaByLeader.LeaderEva", "EvaVal2", Model.evaByLeader.LeaderEva, new { @class = "form-control input-sm isCheckChange", @id = "leaderEvaSelect" })
                        </td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane fade @(ViewBag.isPartyReport == "1"?"in active":"")" id="ios" style="">
            <div id="ReportRefer_box" style="min-height:680px"></div>
            @*<iframe frameborder="0" src="/Home/ReportRefer?ShopCD=@Model.party.ShopCD&PartyID=@Model.party.PartyID" style="width: 100%; height: 750px;"></iframe>*@
        </div>
    </div>

        
                <div class="row">
            <div class="col-lg-12 text-center">
                <a class="btn btn-success btn-sm" style="width:60px" actiontype="1" onclick="setActionType(1)">保存</a>
                <a class="btn btn-success btn-sm" style="width:100px" actiontype="2" onclick="setActionType(2)">保存終了</a>
                 @Html.ButtonAction(false, "閉じる", "../EvaByLeader/EvaByLeaderIndex" + null, new { page = ViewBag.page, ShopCD = ViewBag.ShopCD, PartyDateFrom = ViewBag.PartyDateFrom, PartyDateTo = ViewBag.PartyDateTo, EvaStatus = ViewBag.EvaStatus, StaffEva = ViewBag.StaffEva, LeaderEva = ViewBag.LeaderEva, Range = ViewBag.Range, divisionCD = ViewBag.divisionCD, StaffCD = ViewBag.StaffCD, isPostBack = "1" }, new { @class = "btn btn-primary btn-sm", @style = "width:60px", @checkAction = "checkAction()" })
            </div>
        </div>
    }
    <script type="text/javascript">

        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }

        var openFlg = false;
        function openPartyReportEdit() {
            if (openFlg) {
                return;
            }
            openFlg = true;

            smat.service.openPage({
                page: {
                    projID: 1,
                    entityName: "Y_AnalysisField",
                    pageName: "PartyReportEdit"
                },
                params: {
                    partyData: {
                        ShopCD: "@Model.party.ShopCD",
                        PartyID: "@Model.party.PartyID",
                        StaffCD: "",
                        StaffName: "@Model.party.TantoCD"
                    }
                },
                fillTarget: "ReportRefer_box",
                afterOpen: function (smatWindow) {
                    //smatWindow.parent().css('z-index', 1);
                }
            });
        }

        $("#myTab").on("click", "li", function () {
            //do something here
            if (this.id == "li_ios") {
                openPartyReportEdit();
            }
        });

        $(document).ready(function () {
            //20151019
            //memo
            var pres = $("pre");
            $.each(pres, function (e) {
                var oldMsg = htmlDecode(htmlDecode($(this).html()));
                $(this).html(oldMsg);
            });

            var timer = setInterval(keepSession, 60000);

            if ("@ViewBag.isPartyReport" == "1") {
                openPartyReportEdit();
            }

            @*smat.dynamics.displayPage({
                projID: 1,
                formName: "PartyReportEdit",
                entityName: "Y_AnalysisField",
                title: "確認・送信",
                actionTitle: "保存",
                noAction: true,
                tabWork: true,
                fillTarget: "ReportRefer_box",
                pageParams: {
                    partyData: {
                        ShopCD: "@Model.party.ShopCD",
                        PartyID: "@Model.party.PartyID"
                    }
                },
                afterInit: function (printPage) {

                }
            });*@

        });

        function checkForm() {

            if ($("#staffEvaText").text().trim().length == 0 && $("#leaderEvaSelect").val().length > 0) {
                SMAT.Service.toastr("評価結果ありませんのて、二次評価できません！", "error");
                $("#leaderEvaSelect").focus();

                return false;
            }

            var reportForm = $("#ReportRefer_box").find(".report_edit_form").ui();                        
            if (reportForm) {
                reportForm.doAction(reportForm.config.actions[0]);

                if (reportForm.ReturnValue != 0) {
                    return false;
                }
            }

            return true;
        }

        $("#EvaByLeaderUpdateTime").val("@(ViewBag.EvaByLeaderUpdateTime as string)");

        function setActionType(t) {
            if ($("#ios").hasClass("active")) {
                $("#isPartyReport").val(1);
            } else {
                $("#isPartyReport").val("");
            }
            $("#actionType").val(t);
            $('#editForm').submit();

        }

        function checkAction() {
            var reportForm = $("#ReportRefer_box").find(".report_edit_form").ui();
            if (CheckChanged() || (reportForm && reportForm.isChanged())) {
                return confirm("変更があっても破棄してよろしいでしょうか？");
            } else {
                return true;
            }
        }
    </script>
</div>