@model WebEvaluation.Models.T_EvaByLeader

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>T_EvaByLeader</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PartyID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartyID)
                @Html.ValidationMessageFor(model => model.PartyID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaderEva, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaderEva)
                @Html.ValidationMessageFor(model => model.LeaderEva)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateUserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateUserID)
                @Html.ValidationMessageFor(model => model.UpdateUserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateTime)
                @Html.ValidationMessageFor(model => model.UpdateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
