@model WebEvaluation.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JapName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonCD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
