@model WebEvaluation.Models.M_Staff
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_self" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    @Styles.Render("~/Content/Common/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")

    <script type="text/javascript">

        $(document).ready(function () {
            var msg = "@ViewBag.msg";
            var msgType = "@ViewBag.msgType";
            if (msg.length > 0) {
                if (msgType.length > 0) {
                    SMAT.Service.toastr(msg,msgType);
                } else {
                    SMAT.Service.toastr(msg);
                }
            }
        });
    </script>
</head>
<body style="padding-top: 0;">
<div class="jumbotron" style="width:1036px;">
    <br>
    @using (Html.BeginForm("IframeCreate", "Staff", FormMethod.Post, new { @onsubmit = "return checkForm()" }))
    {
        @Html.Hidden("name", ViewBag.name as string)
        @Html.Hidden("_staffCd", ViewBag._staffCd as string)
        @Html.Hidden("_UnitCD", ViewBag._UnitCD as string)
        @Html.Hidden("kanaName", ViewBag.kanaName as string)
        @Html.Hidden("isPostBack", ViewBag.isPostBack as string)
        @Html.AntiForgeryToken()

        <div class="row" style="padding-left:80px;padding-right:80px">
            <font color="#aaaaaa">社員基本情報</font>
          <table class=" table form-table" >
              <tr>
                  <td width="200px" align="right">
                      @Html.LabelFor(model => model.StaffCD)
                  </td>
                  <td>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(model => model.StaffCD, new { @class = "form-control ", @maxlength = "8" })
                          @Html.ValidationMessageFor(model => model.StaffCD)
                      </div>
                  </td>
              </tr>
              <tr>
                  <td align="right">@Html.LabelFor(model => model.StaffName)</td>
                  <td>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(model => model.StaffName, new { @class = "form-control", @maxlength = "20" })
                          @Html.ValidationMessageFor(model => model.StaffName)
                      </div>
                  </td>
              </tr>
              <tr>
                  <td align="right">
                      @Html.LabelFor(model => model.StaffKana)
                  </td>
                  <td>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(model => model.StaffKana, new { @class = "form-control", @maxlength = "20" })
                          @Html.ValidationMessageFor(model => model.StaffKana)
                      </div>
                  </td>
              </tr>
              <tr>
                  <td align="right">@Html.LabelFor(model => model.Sex)</td>
                  <td>
                      <div class="col-lg-3" style="padding-top: 11px;">
                          <label>@Html.RadioButtonFor(model => model.Sex, "1", new { @name = "Sex" }) &nbsp;男</label>
                          <label>@Html.RadioButtonFor(model => model.Sex, "2", new { @name = "Sex", @checked = "checked" }) &nbsp;女</label>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td align="right">@Html.LabelFor(model => model.EnrollmentDate)</td>
                  <td>
                      <div class="col-lg-3" >
                          @Html.DatePicker("EnrollmentDate", ViewBag.EnrollmentDate as string)
                      </div>
                  </td>
              </tr>
              <tr>
                  <td align="right">@Html.LabelFor(model => model.Duty)</td>
                  <td>
                      <div class="col-lg-3">
                          @Html.TextBoxFor(model => model.Duty, new { @class = "form-control", @maxlength = "30" })
                          @Html.ValidationMessageFor(model => model.Duty)
                      </div>
                  </td>
              </tr>
              <tr>
                  <td width="200px" align="right">@Html.LabelFor(model => model.UnitCD)</td>
                  <td>
                      <div class="col-lg-3">
                          @Html.UnitDropDownList("UnitCD", model => model.UnitCD, new { @class = "form-control input-sm" })
                      </div>
                  </td>
              </tr>
            </table>
        </div>
        <div class="row" style="padding-left:80px;padding-right:80px">
    <font color="#aaaaaa">ユーザ情報</font>
    <table class="table form-table" >
        
        <tr>
            <td width ="200px" align="right"> 権限</td>
            <td>
                <div class="col-lg-3">
                    @Html.CodeDropDownList("RoleCD", "RoleCD", "", new { @style = "width: 100%;" })
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">パスワード</td>
            <td>
                <div class="col-lg-3">
                    <input class="form-control" id="Passowrd" name="psw" maxlength="20" autocomplete="off" placeholder="" type="password" value="@ViewBag.psw" />
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">パスワード(再入力)</td>
            <td>
                <div class="col-lg-3">
                    <input class="form-control" id="Passowrd_c" name="psw_c" maxlength="20" autocomplete="off" placeholder="" type="password" value="@ViewBag.psw_c" />
                </div>
            </td>
        </tr>
    </table>
            
    <div class="row">
        <div class="col-lg-12 text-center">
            <button class="btn btn-success btn-sm" type="submit" style="width:60px">登録</button>
        </div>
    </div>
</div>
    }
    <script type="text/javascript">

        var isClose = '@ViewBag.isClose'
        if (isClose == "true")
        { 
            SMAT.Service.toastr("社員情報登録完了しました。");
            var timer = setTimeout(function () {
                $(".k-overlay", parent.document).remove();
                $(".webui-popover", parent.document).remove();
            }, 1500);
            
        }

        $(document).ready(function () {
            var radioClass = "@ViewBag.radioClass";
            if (radioClass.length == 0) {
                radioClass = "iradio_square-blue";
            }
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: radioClass,
                increaseArea: '20%' // optional
            });

        });

        function checkForm() {

            if ($("#StaffCD").val().trim().length == 0) {
                SMAT.Service.toastr("社員番号を入力してください！", "error");
                $("#StaffCD").focus();
                return false;
            }

            if ($("#StaffCD").val().trim().length <5) {
                SMAT.Service.toastr("社員番号が５桁不足です！", "error");
                $("#StaffCD").focus();
                return false;
            }

            if ($("#StaffName").val().trim().length == 0) {
                SMAT.Service.toastr("氏名を入力してください！", "error");
                $("#StaffName").focus();
                return false;
            }

            if ($("#RoleCD").val() != "09" && $("#UnitCD").get(0).selectedIndex == 0) {
                SMAT.Service.toastr("所属を選択してください！", "error");
                $("#UnitCD").focus();
                return false;
            }

            if ($("#RoleCD").val() != ""){
                if ($("#Passowrd").val().trim().length == 0) {
                    SMAT.Service.toastr("パスワードを入力してください！", "error");
                    $("#Passowrd").focus();
                    return false;
                }
                if ($("#Passowrd_c").val().trim().length == 0) {
                    SMAT.Service.toastr("パスワード(再入力)を入力してください!", "error");
                    $("#Passowrd_c").focus();
                    return false;
                }
                if ($("#Passowrd").val().trim() != $("#Passowrd_c").val().trim()) {
                    SMAT.Service.toastr("パスワードが一致していません。", "error");
                    $("#Passowrd_c").focus();
                    return false;
                }
            }
            return true;
        }
    </script>

</div>
</body>
</html>